<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44347" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Release" />
        </environmentVariables>
      </aspNetCore>
      <rewrite>
        <rules>
          <rule name="SpecificRewrite" stopProcessing="true">
            <match url="^.*$" />
            <conditions>
              <add input="{REQUEST_URI}" pattern="^/api/.*" negate="true" />
              <add input="{REQUEST_URI}" pattern="^/sockets/.*" negate="true" />
              <add input="{REQUEST_URI}" pattern="^/user/.*" negate="true" />
              <add input="{REQUEST_URI}" pattern="^/assets/.*" negate="true" />
              <add input="{REQUEST_URI}" pattern="^/index.html" negate="true" />
              <add input="{REQUEST_URI}" pattern="^/favicon.ico" negate="true" />
            </conditions>
            <action type="Rewrite" url="/index.html" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 8ead60e9-5458-4c4b-be47-a41d3ec8c563-->